<div class="fourish">
<img width=100% height=100 src="http://placehold.it/500x50" />
</div>

<!-- Sign Up Form -->
<div class="grid">
	<div class="row">
		<div class="c8">
			<h4>Create a Team</h4>

<%= form_for(@team, :url => teams_path, :method => :post) do |f| %>
<%= render 'form', :f => f %>
<%= f.submit %>
<% end %>

		</div>
		<div class="c4 h4push">
			<%= render 'shared/text_etiquette' %>
		</div>
	</div>
</div>