<div class="grid">
	<div class="row">
		<div class="c12">
			<h4>Event Management</h4>

			<%= form_for(@event, :url => backend_event_path, :method => :patch) do |f| %>
			<%= render 'form', :f => f %>
			<div class="row">
				<div class="c12"><%= f.submit 'Update' %></div>
			</div>
			<% end %>

		</div>
	</div>
</div>