<h5>Etiquette</h5>
<p>We know you like to have fun, but sometimes things are a little off limits even for us. Anything that has a derogatory nature are strictly prohibited, whether it is in a name or description or any other place. This includes personal attacks and sexist or racist remarks. There will be a zero tolerance level on that.</p>