<div class="fourish"></div>

<div class="grid">
	<div class="row">
		<div class="c12">
			<h4>Change Log</h4>
			<ul>
				<li>02.19.2016 - Adding Facebook info.</li>
				<li>02.19.2016 - Adding of favicon and iOS bookmark icon.</li>
				<li>02.19.2016 - Change log page add to footer navigation.</li>
				<li>02.17.2016 - Bug fixes to team pages.</li>
				<li>02.16.2016 - Initial Launch of Beta Site.</li>
			</ul>
		</div>
	</div>
</div>