<div class="grid">
	<div class="row">
		<div class="c12">
			<h4>Badge Management</h4>

			<%= form_for(@badge, :url => backend_badges_path, :method => :post) do |f| %>
			<%= render 'form', :f => f %>
			<div class="row">
				<div class="c12"><%= f.submit 'Create Badge' %></div>
			</div>
			<% end %>

		</div>
	</div>
</div>