* {
	outline: none;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	 box-sizing: border-box; 
}
/* Generic ------------------------------------------------------------------- */
body {
  color: #526475;
  margin: 0px;
  padding: 0px;
  font-family: 'OpenSans', 'Open Sans';
  font-size: 16;
  font-weight: 300;
  background-color: #ffffff;
}


.float-right {float: right;}
.float-left {float: left;}
.small {font-size: .8em; line-height: 1.2em;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.text-up {vertical-align: top;}
.no-wrap {white-space: nowrap;}
.no-pad {margin: 0; padding: 0;}
.row.pad {padding-bottom: 20px;}

a {color: #09a0f6; font-weight: normal; text-decoration: none; transition: all 0.3s;}
a:hover {text-decoration: underline; cursor: hand;}

p {display: block; line-height: 28px; margin-bottom: 20px; margin-top: 0px;}

h1, h2, h3, h4, h5, h6 {color: #526475; display: block; font-weight: 300; margin-bottom: 0px; margin-top: 0px;}
h1 {font-size: 36px; line-height: 50px;}
h2 {font-size: 32px; line-height: 46px;}
h3 {font-size: 28px; line-height: 42px;}
h4 {font-size: 24px; line-height: 38px;}
h5 {font-size: 20px; line-height: 34px;}
h6 {font-size: 16px; line-height: 30px;}

ul, ol {margin-bottom: 16px; margin-top: 0px;}
ul.no-pad, ol.no-pad {margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;}
ul.no-bullet, ol.no-bullet {list-style: none;}

/* Grid ------------------------------------------------------------------- */
.grid {
	margin: 0 auto;
	width: 1000px;
  /*margin: 0 20px;*/
  /*width: auto;*/
}
.row {
  margin: 1% 0;
  overflow: auto;
}
.c12, .c11, .c10, .c9, .c8, .c7, .c6, .c5, .c4, .c3, .c2, .c1 {float: left; padding: 5px;}
.table, .c12 {width: 100%;}
.c11 {width: 91.66%;}
.c10 {width: 83.33%;}
.c9 {width: 75%;}
.c8 {width: 66.66%;}
.c7 {width: 58.33%;}
.c6 {width: 50%;}
.c5 {width: 41.66%;}
.c4 {width: 33.33%;}
.c3 {width: 25%;}
.c2 {width: 16.66%;}
.c1 {width: 8.33%;}

.h1push {padding-top: 50px;}
.h2push {padding-top: 46px;}
.h3push {padding-top: 42px;}
.h4push {padding-top: 38px;}
.h5push {padding-top: 34px;}
.h6push {padding-top: 30px;}

@media (max-width: 870px) {
	.grid {width: 100%;}
  .c12, .c11, .c10, .c9, .c8, .c7, .c6, .c5, .c4, .c3, .c2, .c1 {
    width: 100%;
  }
  .h1push, .h2push, .h3push, .h4push, .h5push, .h6push {padding-top: 0;}
}
@media (min-width: 1310px) {
  .grid {
    margin: auto;
    width: 1270px;
  }
}

/* Notifications ----------------------------------------------------------- */
.notification {padding: 10px; background: #eee; border-bottom: 1px solid #545B5E;}
.notification div {
	padding: 5px 10px;
	background: #ddd;
	border: 1px solid #aaa;
	border-radius: 5px;
	font-size: 14px;
}
.notification .alert {
	color: #D32F2F;
    background-color: #FFEBEE;
    border-color: #F44336;
}
.notification .warning {
    background-color: #FFF8E1;
    color: #FF8F00;
    border-color: #FFC107;
}
.notification .done {
    background-color: #E8F5E9;
    color: #388E3C;
    border-color: #4CAF50;
}
.close_not {float: right;}
.notification i {width: 20px; text-align: center;}

/* Forms ------------------------------------------------------------------- */
input[type=text], input[type=submit], input[type=file], input[type=email], input[type=number], input[type=password], input[type=tel], textarea, button.form, .button, select {
	border: 1px solid #d1e1e8;
	border-radius: 5px;
	font-family: 'OpenSans', 'Open Sans';
	font-size: 16px;
	font-weight: 300;
	height: 40px;
	outline: 0;
	padding: 10px;
	transition: all 0.3s;
	width: 100%;
}

select {background: #fff; height: 40px;}
input[type=submit], button.form, .button {
	background: #09a0f6;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 16px;
	text-transform: uppercase;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
.button {padding-left: 20px; padding-right: 20px;}
.button.full {display: block; text-align: center; width: 100%;}


input[type="checkbox"] {display:none;}
input[type="checkbox"] + label {
    background: image-url("form_checkbox.png") bottom left no-repeat;
    cursor: pointer;
    display: inline-block;
	font-size: 14px;
    height: 20px;
	line-height: 20px;
    margin: -1px 4px 0 0;
	text-indent: 20px;
    vertical-align: middle;
	white-space: nowrap;
    width: 12px;
}
input[type="checkbox"]:checked + label {
    background: image-url("form_checkbox.png") top left no-repeat;
}


input[type="radio"] {display:none;}
input[type="radio"] + label {
    background: image-url("form_radio.png") bottom left no-repeat;
    cursor: pointer;
    display: inline-block;
	font-size: 14px;
    height: 20px;
	line-height: 20px;
    margin: -1px 4px 0 0;
	text-indent: 20px;
    vertical-align: middle;
	white-space: nowrap;
    width: 12px;
}
input[type="radio"]:checked + label {
    background: image-url("form_radio.png") top left no-repeat;
}

input[type=text]:focus, input[type=email]:focus, input[type=file]:focus, input[type=number]:focus, input[type=password]:focus, input[type=tel]:focus, select:focus, textarea:focus {border: 1px solid #09a0f6;}
input[type=submit]:hover, button.form:hover, .button:hover {opacity: 0.8; cursor: pointer; text-decoration: none;}
.form-choice {margin-top: 8px;}
textarea {min-height: 100px;}
.form-datetime {width: auto;}


/* Tables ------------------------------------------------------------------- */
table {border: 0; width: 100%; margin: 0; border-collapse: collapse; margin-bottom: 20px;}
table tr td {border-top: 1px solid #bbb; padding: 5px; margin: 0;}
table tr:first-child td {border-top: 0;}
table thead td {background: #ddd; font-size: .8em; font-weight: bold;}
